{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        com.bhauman/figwheel-main {:mvn/version "RELEASE"}
        reagent {:mvn/version "0.8.1"}
        cljs-http {:mvn/version "0.1.46"}

        http-kit {:mvn/version "2.3.0"}
        ring {:mvn/version "1.7.1"}
        compojure {:mvn/version "1.6.1"}

        com.rpl/specter {:mvn/version "1.1.2"}
        clj-http {:mvn/version "3.10.0"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        com.github.kyleburton/clj-xpath {:mvn/version "1.4.11"}
        org.clojure/test.check {:mvn/version "0.10.0"}
        clojure-humanize {:mvn/version "0.2.2"}
        metasoarous/oz {:mvn/version "1.6.0-alpha5"}

        ;; tick {:mvn/version "0.4.20-alpha"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        clj-time {:mvn/version "0.15.2"}
        jarohen/chime {:mvn/version "0.2.2"}

        com.stuartsierra/component {:mvn/version "0.4.0"}
        seancorfield/next.jdbc {:mvn/version "1.0.9"}
        org.postgresql/postgresql {:mvn/version "42.2.6"}
        migratus/migratus {:mvn/version "1.2.6"}
        ;; for migratus
        com.taoensso/timbre {:mvn/version "4.10.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.14"}}

 :paths ["src" "resources"]

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :nrepl {:extra-paths ["dev"]
                   :extra-deps {nrepl {:mvn/version "RELEASE"}
                                vvvvalvalval/scope-capture {:mvn/version "RELEASE"}
                                philoskim/debux {:mvn/version "RELEASE"}
                                cider/piggieback {:mvn/version "RELEASE"}
                                cider/cider-nrepl {:mvn/version "RELEASE"}
                                refactor-nrepl {:mvn/version "2.5.0-SNAPSHOT"}}}
           :cljs {:main-opts ["-m" "figwheel.main" "-bo" "dev"]}
           :cljs-prod {:main-opts ["-m" "figwheel.main" "-bo" "prod"]}
           :depstar {:extra-deps {seancorfield/depstar {:mvn/version "0.3.1"}}}
           :aot {:extra-paths ["target/classes"]
                 :main-opts ["-e" "(binding[*compile-path*\"target/classes\"](compile,'fritz-homeautomation.main))"]}}}
